// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.jstree-contextmenu {
    z-index: 99;
}

.fa-ellipsis-v{
    color: $color_rcp_primary;
}


.jstree-default-dark {
    background: transparent !important;

    .jstree-anchor {
        width: calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

    .jstree-children.jstree-children>li>a {
        max-width: 500px;
        justify-content: center;
        align-items: center;
        margin: 2px 4px;
        width: 141px;
        height: 31px;
        border: 1px solid $color_rcp_primary;
        box-sizing: border-box;
        border-radius: 4px;
    }
   

    // .jstree-clicked,
    // .jstree-wholerow-clicked {
    //     background: $color_rcp_primary !important;
    // }
      .jstree-clicked,
     .jstree-wholerow-clicked {
        background: transparent !important;
 }

     .jstree-wholerow-clicked:hover{
         background: transparent !important;
     }

    .jstree-clicked {
        background: $color_rcp_primary !important;
        //background: none;
        width: 141px;
        height: 31px;
        color: white !important;
        
    }

    // .jstree-hovered {
    //     background: $color_star_dust_approx;
    // }

    .jstree-anchor {
       // color: #dbdbdb;
        color: #C53E6C;

    }
    .jstree-anchor:focus {
         color: white !important;
        }
        .jstree-anchor:active{
            color: white !important;
        }

    .jstree-search {
        color: #fbfece !important
     
    }

    li[role="treeitem"] {
        .jstree-wholerow-clicked {
            .tools {
                display: inline-block;
            }
        }

        .tools {
            display: none;
            position: absolute;
            width: 30px;
            text-align: center;
            cursor: pointer;
            top: 0;
            right: 0;
        }
    }
}
//.jstree-default-dark .jstree-node, .jstree-default-dark .jstree-icon {
    //background: url("../../img/41px.png") no-repeat !important;
        //background-image: url(../../img/40px.png) -100px -68px no-repeat !important;
         //list-style:none;
         //background-position: right center;
        //background-repeat: no-repeat;
       // background-position: -4px -36px;
    // }

    .jstree-default-dark .jstree-hovered {
         background: #A53159 !important;
         color: #FFFFFF !important;

    }
    .jstree-default-dark .jstree-wholerow-hovered {
        background: none !important;

      }

      .jstree-anchor  .jstree-clicked{
          color: white !important;
      }

    
.btn .btn-action .btn-sm .btn-icon .btn-blue{
    background-color: #C53E6C;
}
      
.nav-tabs>li.active>a{
    border: none !important;
    border-bottom: 2px solid #C53E6C !important;
}
// .nav-tabs>li>a{
//     border-bottom: 1px solid #C53E6C;
// }
.nav-tabs>li.focus>a:active{
    border: #C53E6C;
}
.nav-tabs>li>a:hover{
    background: #C53E6C;
    color: #FFFFFF;
}